.windows-button {
  display: block;
  -moz-appearance: none;
  appearance: none;
  font-weight: 700;
  letter-spacing: 0.05em;
  padding: 0.45em 0.75em;
  border-left: 2px solid #ededed;
  border-top: 2px solid #ededed;
  border-right: 2px solid #404040;
  border-bottom: 2px solid #404040;
}

.icon-container {
  cursor: pointer;
  width: 50px;
}

.icon {
  width: 100px;
  height: 55px;
}

.folder-icon-background {
  background: url("../../assets/directory_closed-3.png") no-repeat;
  background-size: 50px 50px;
}

.desktop-icon-background {
  background: url("../../assets/computer.png") no-repeat;
  background-size: 50px 50px;
}

.folder-contact-background {
  background: url("../../assets/address.png") no-repeat;
  background-size: 50px 50px;
}

.folder-briefcase-background {
  background: url("../../assets/briefcase.png") no-repeat;
  background-size: 50px 50px;
}

.alerts-border {
  border: 3px silver solid;
  animation: blink 0.2s;
  animation-iteration-count: 3;
}

@keyframes blink {
  50% {
    border-color: navy;
  }
}
